@tailwind base;
@tailwind components;
@tailwind utilities;

/* Banner style start */
.banner-block .banner-item:hover .banner-img img {
  @apply scale-107 transform opacity-90 transition-transform;
}

.banner-block .banner-ads-item img {
  @apply transition duration-500;
}

.banner-block .banner-ads-item:hover img {
  @apply scale-110 transform;
}

/* Banner Top Styles */
.banner-top.style-four .swiper-button-prev,
.banner-top.style-four .swiper-button-next {
  @apply bg-black text-white;
}

.banner-top.style-four .swiper-button-prev::after,
.banner-top.style-four .swiper-button-next::after {
  @apply text-base;
}

.banner-top.style-four .swiper-button-prev {
  @apply left-0 justify-start;
}

.banner-top.style-four .swiper-button-next {
  @apply right-0 justify-end;
}

@media (max-width: 640px) {
  .banner-top.style-four .swiper-button-prev::after,
  .banner-top.style-four .swiper-button-next::after {
    @apply text-xs;
  }
}

.banner-top.bg-green .swiper-button-prev,
.banner-top.bg-green .swiper-button-next {
  @apply bg-green_custom text-black;
}

/* Tab Features Block */
.tab-features-block .banner:hover .heading4 {
  @apply underline;
}

.tab-features-block .banner:hover img {
  @apply scale-105 transform;
}

/* Image Comparison Styles */
.image-comparison {
  @apply mx-auto w-full;
}

.image-comparison__slider-wrapper {
  @apply relative;
}

.image-comparison__label {
  @apply text-0 leading-none;
}

.image-comparison__label,
.image-comparison__range {
  @apply absolute left-0 top-0 z-20 m-0 h-full w-full cursor-ew-resize border-0 bg-transparent p-0 outline-none;
  appearance: none;
}

@media (hover: hover) {
  .image-comparison__range:hover
    ~ .image-comparison__slider
    .image-comparison__thumb {
    @apply scale-120 transform;
  }
}

/* Override hover states */
.image-comparison
  .image-comparison__slider-wrapper
  .image-comparison__range:active
  ~ .image-comparison__slider
  .image-comparison__thumb,
.image-comparison
  .image-comparison__slider-wrapper
  .image-comparison__range:focus
  ~ .image-comparison__slider
  .image-comparison__thumb,
.image-comparison
  .image-comparison__slider-wrapper
  .image-comparison__range--active
  ~ .image-comparison__slider
  .image-comparison__thumb {
  @apply scale-80 transform bg-opacity-50;
  background-color: rgba(0, 97, 127, 0.5);
}

.image-comparison__image-wrapper--overlay {
  @apply absolute left-0 top-0 h-full overflow-hidden;
  width: calc(50% + 1px);
}

.image-comparison__figure {
  @apply m-0;
}

.image-comparison__figure::before {
  @apply absolute left-0 top-0 h-full w-full bg-basePale content-[''];
}

.image-comparison__figure:not(.image-comparison__figure--overlay) {
  @apply relative;
  padding-top: 66.666666667%;
}

.image-comparison__image {
  @apply absolute left-0 top-0 h-full w-full overflow-hidden;
  object-fit: cover;
  object-position: 0 50%;
}

.image-comparison__figure--overlay .image-comparison__image {
  @apply z-10;
}

.image-comparison__image.after {
  @apply right-0 h-auto w-full;
  left: unset;
}

.image-comparison__caption {
  @apply absolute;
}

@media screen and (max-width: 40.063em) {
  .image-comparison__caption {
    @apply text-xs;
  }
}

.image-comparison__caption--before {
  @apply left-3 z-20;
}

.image-comparison__caption--after {
  @apply right-3 text-right;
}

.image-comparison__caption-body {
  @apply p-3;
  max-width: 40vmin;
}

.image-comparison__slider {
  @apply absolute top-0 z-10 h-full bg-white transition-colors duration-300 ease-in-out;
  left: 50%;
  width: 2px;
}

.image-comparison__range--active ~ .image-comparison__slider {
  @apply bg-opacity-0;
}

.image-comparison__thumb {
  @apply absolute flex transform-gpu flex-col items-center justify-center rounded-full text-white shadow-lg transition-colors transition-transform duration-300 ease-in-out;
  background-color: #0091df;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.5);
}

/* Custom range input styling */
.image-comparison__range::-webkit-slider-runnable-track {
  @apply h-10 w-10 opacity-0;
}

.image-comparison__range::-moz-range-thumb {
  @apply h-10 w-10 opacity-0;
}

.image-comparison__range::-webkit-slider-thumb {
  @apply h-10 w-10 opacity-0;
}

.image-comparison__range::-ms-fill-lower {
  @apply bg-transparent;
}

.image-comparison__range::-ms-track {
  @apply relative left-0 top-0 m-0 h-full w-full cursor-col-resize border-0 bg-transparent p-0 outline-none;
  color: transparent;
}

.image-comparison__range::-ms-thumb {
  @apply h-full w-0.5 opacity-0;
}

.image-comparison__range::-ms-tooltip {
  @apply hidden;
}

/* Add custom scales to tailwind.config.js */
@layer utilities {
  .scale-107 {
    --tw-scale-x: 1.07;
    --tw-scale-y: 1.07;
  }
  .scale-80 {
    --tw-scale-x: 0.8;
    --tw-scale-y: 0.8;
  }
  .scale-120 {
    --tw-scale-x: 1.2;
    --tw-scale-y: 1.2;
  }
  .text-0 {
    font-size: 0;
  }
}

/* Banner style end */

/* Benefit style start */

.bg-black.style-watch .benefit-block .benefit-item i {
  @apply text-green_custom;
}

.bg-black.style-watch .benefit-block .benefit-item .heading6 {
  @apply text-white;
}

.bg-black.style-watch .benefit-block .benefit-item .text-secondary {
  @apply text-secondary2;
}

/* Benefit style end */

/* Category action style start */
/* Menu Tab */
.menu-tab .tab-item {
  @apply cursor-pointer whitespace-nowrap rounded-2xl;
}

.menu-tab .tab-item.active {
  @apply bg-white text-black shadow-[0px_2px_2px_0px_rgba(28,36,51,0.10)];
}

.menu-tab .item.hover\:bg-white.active {
  @apply bg-white;
}

.menu-tab .item.hover\:text-black.active {
  @apply text-black;
}

@media (max-width: 767.98px) {
  .menu-tab {
    @apply w-full max-w-max overflow-x-auto;
  }
}

/* Style Pet */
.menu-tab.style-pet .tab-item.active {
  @apply bg-black text-white shadow-[0px_2px_2px_0px_rgba(28,36,51,0.10)];
}

/* Style Underwear */
.tab-features-block.style-underwear .menu-tab .tab-item.active {
  @apply bg-black text-white;
}

/* Style Watch */
.tab-features-block.style-watch .menu-tab .tab-item.active {
  @apply bg-surface1 text-white;
}

/* Tab Address */
.tab_address .tab_btn.active .ic_down {
  @apply rotate-180;
}

/* Video Tutorial Block */
.video-tutorial-block .list-category {
  @apply overflow-hidden;
}

.video-tutorial-block .list-category .item {
  @apply relative -translate-x-9 transition-all duration-300 ease-in-out;
}

.video-tutorial-block .list-category .item.active {
  @apply translate-x-0;
}

/* Category action style end */

/* Collection style start */

.collection-item .bg-img img {
  @apply transition-all duration-700 ease-in-out;
}

.collection-item:hover .bg-img img {
  @apply scale-108 transform;
}

.collection-item .collection-name {
  @apply absolute left-1/2 -translate-x-1/2;
}

.collection-item .collection-name:hover {
  @apply bg-black text-white;
}

.collection-block.style-six .list-collection .swiper {
  @apply overflow-visible;
}

/* Trending styles */
.trending-block .trending-item .bg-img img {
  @apply transition-all duration-500 ease-in-out;
}

.trending-block .trending-item:hover .bg-img img {
  @apply scale-110 transform;
}

/* Add to tailwind.config.js utilities */
@layer utilities {
  .scale-108 {
    --tw-scale-x: 1.08;
    --tw-scale-y: 1.08;
  }
}
/* Collection styles end */

/* Featured Product style start */

/* best-sale-prd */
/* Best sale product description */
.best-sale-prd .product-infor .desc {
  @apply relative line-clamp-2 leading-normal;
}

/* Popular product and lookbook */
.popular-product .dots:hover span,
.lookbook .dots:hover span {
  @apply bg-green_custom;
}

.popular-product .item .product-infor,
.lookbook .item .product-infor {
  @apply invisible absolute left-1/2 top-[47px] w-max -translate-x-1/2 translate-y-[10px] opacity-0 shadow-[0px_10px_25px_0px_rgba(43,52,74,0.12)] transition-all duration-300 ease-in-out;
}

.popular-product .item .product-infor::before,
.lookbook .item .product-infor::before {
  @apply absolute left-[calc(50%-16px)] top-0 -z-[1] h-6 w-6 -translate-x-1/2 rotate-45 bg-white content-[''];
}

.popular-product .item .dots.bottom-dot .product-infor::before,
.lookbook .item .dots.bottom-dot .product-infor::before {
  @apply -bottom-5 top-auto;
}

.popular-product .dots.bottom-dot .product-infor,
.lookbook .dots.bottom-dot .product-infor {
  @apply bottom-[calc(100%+20px)] top-auto -translate-y-[10px];
}

.popular-product .dots:hover .product-infor,
.lookbook .dots:hover .product-infor {
  @apply visible translate-x-[-50%] translate-y-0 opacity-100;
}

/* Featured Product Home Underwear/Cosmetic */
.featured-product.underwear .list-img,
.featured-product.cosmetic .list-img {
  @apply relative;
}

.featured-product.underwear .mySwiper,
.featured-product.cosmetic .mySwiper {
  @apply static cursor-pointer;
}

.featured-product.underwear .mySwiper .swiper-wrapper,
.featured-product.cosmetic .mySwiper .swiper-wrapper {
  @apply absolute left-5 top-5 w-fit flex-col gap-3;
}

.featured-product.underwear .mySwiper .swiper-slide,
.featured-product.cosmetic .mySwiper .swiper-slide {
  @apply w-[100px] overflow-hidden rounded-xl border border-[#A0A0A0] opacity-50;
}

.featured-product.underwear .mySwiper .swiper-slide.swiper-slide-thumb-active,
.featured-product.cosmetic .mySwiper .swiper-slide.swiper-slide-thumb-active {
  @apply border-black opacity-100;
}

@media (max-width: 1024px) {
  .featured-product.underwear .mySwiper .swiper-slide,
  .featured-product.cosmetic .mySwiper .swiper-slide {
    @apply w-[60px];
  }
}

.featured-product.underwear .quantity-block .disabled,
.featured-product.cosmetic .quantity-block .disabled,
.best-sale-prd .quantity-block .disabled {
  @apply cursor-default text-secondary2;
}

@media (max-width: 640px) {
  .popular-product.watch .list-feature-right .icon svg {
    @apply w-[18px];
  }
}

.featured-product.style-watch .list-action .choose-size .size-item {
  @apply bg-black_custom text-white;
}

.featured-product.style-watch .list-action .choose-size .size-item.active {
  @apply border-white bg-white text-black;
}

.featured-product.style-watch .button-block .button-main:hover {
  @apply bg-green_custom text-black;
}

/*  instagram styles */
/* Instagram styles */
.list-instagram .icon {
  @apply invisible opacity-0;
}

.list-instagram .icon:hover .icon-instagram {
  @apply text-white;
}

.list-instagram .item::before {
  @apply absolute left-0 top-0 z-[1] h-full w-full bg-black/20 opacity-0 transition-all duration-500 ease-in-out content-[''];
}

.list-instagram .item:hover::before {
  @apply opacity-100;
}

.list-instagram .item:hover > img {
  @apply scale-[1.04] transform;
}

.list-instagram .item:hover .icon {
  @apply visible opacity-100;
}

/* Newsletter  */

.newsletter-block.bg-green .text-white,
.newsletter-block.bg-transparent .text-white {
  @apply text-black_custom;
}

.newsletter-block.bg-green .button-main,
.newsletter-block.bg-transparent .button-main {
  @apply bg-black_custom text-baseLight;
}

/* tab-features-block */
.tab-features-block .section-swiper-navigation .swiper-button-prev,
.tab-features-block .section-swiper-navigation .swiper-button-next {
  @apply h-[44px] w-[44px];
}

.section-swiper-navigation .swiper-button-prev::after,
.section-swiper-navigation .swiper-button-next::after {
  @apply text-[18px];
}

.style-watch .product-item .list-color .color-item.active,
.style-watch .product-item .list-color-image .color-item.active {
  @apply border-white;
}

/* Testimonial */

/* Testimonial */
.testimonial-block .list-avatar .bg-img {
  @apply invisible overflow-hidden opacity-0;
  transition: opacity ease 1s;
}

.testimonial-block .list-avatar .bg-img img {
  @apply absolute h-0;
}

.testimonial-block .list-avatar .bg-img.active {
  @apply visible opacity-100;
}

.testimonial-block .list-avatar .bg-img.active img {
  @apply relative h-auto;
}

.video-tutorial-block .list-video .bg-video {
  @apply invisible absolute top-0 overflow-hidden opacity-0;
  transition: opacity ease 1s;
}

.video-tutorial-block .list-video .bg-video .bg-img {
  @apply absolute h-0;
}

.video-tutorial-block .list-video .bg-video.active {
  @apply visible opacity-100;
}

.video-tutorial-block .list-video .bg-video.active .bg-img {
  @apply relative h-full;
}

@media (max-width: 640px) {
  .video-tutorial-block .list-video .bg-video {
    @apply relative;
  }
}

.video-tutorial-block .button-main.play-btn:hover svg path {
  fill: theme("colors.baseDark");
}

.testimonial-block.style-six .list-avatar .bg-img {
  @apply h-0;
}

.testimonial-block.style-six .list-avatar .bg-img img {
  @apply h-0;
}

.testimonial-block.style-six .list-avatar .bg-img.active {
  height: calc(100% - 40px);
}

.testimonial-block.style-six .list-avatar .bg-img.active img {
  @apply h-full;
}

.featured-product.toys-kid .left .bg-img {
  @apply h-0;
}

.featured-product.toys-kid .left .bg-img img {
  @apply h-0;
}

.featured-product.toys-kid .left .bg-img.active {
  @apply h-full;
}

.featured-product.toys-kid .left .bg-img.active img {
  @apply h-full;
}

.list-testimonial.dots-mt40 .slick-dots {
  bottom: -60px;
}

@media (max-width: 767.98px) {
  .list-testimonial.dots-mt40 .slick-dots {
    bottom: -50px;
  }
}

.list-testimonial.yoga .slick-list {
  @apply -mx-4;
}

.list-testimonial.yoga .slick-list .slick-track {
  @apply flex cursor-grab;
}

.list-testimonial.yoga .slick-list .slick-track .slick-slide {
  @apply h-full px-4;
}

.list-testimonial.yoga .slick-list .slick-track .slick-slide > div {
  @apply h-full;
}

.list-testimonial.yoga .slick-dots li {
  @apply transition-all duration-500;
}

.list-testimonial.yoga .slick-dots li button {
  @apply relative h-4 w-4 rounded-full border border-transparent p-1 transition-all duration-500;
}

.list-testimonial.yoga .slick-dots li button::before {
  @apply left-1/2 top-1/2 h-2 w-2 -translate-x-1/2 -translate-y-1/2 rounded-full border border-black text-[8px] leading-4 text-transparent opacity-100 transition-all duration-500;
}

.list-testimonial.yoga .slick-dots li.slick-active button {
  @apply border-black;
}

.list-testimonial.yoga .slick-dots li.slick-active button::before {
  @apply bg-black;
}

.customer-feedbacks .testimonial-item .testimonial-main {
  @apply flex flex-col justify-between bg-surface;
}

/* Text has line before style */
.has-line-before {
  @apply relative;
}

.has-line-before::before {
  @apply absolute bottom-0 left-0 h-[1px] w-0 bg-black transition-all duration-300 ease-in-out content-[''];
}

.has-line-before.before-white::before {
  @apply bg-white;
}

.has-line-before.active::before,
.has-line-before:hover::before {
  @apply w-full;
}

.has-line-before.line-2px {
  @apply pb-[1px];
}

.has-line-before.line-2px::before {
  @apply h-[2px];
}

.active > .has-line-before {
  @apply text-black;
}

.active > .has-line-before::before {
  @apply w-full;
}
