@tailwind base;
@tailwind components;
@tailwind utilities;
/* Product Item */
.product-item .product-thumb .list-action-right {
  @apply z-[1] translate-x-[60px] transition-all duration-300;
}

.product-item:hover .product-thumb .list-action-right {
  @apply translate-x-0;
}

.product-item .tag-action {
  @apply pointer-events-none absolute right-[calc(100%+10px)] z-0 -translate-x-[10px] whitespace-nowrap opacity-0 shadow-[0px_5px_13px_rgba(80,80,80,0.5)] transition-all duration-300;
}

.product-item .tag-action::before {
  @apply absolute -right-[3px] top-1/2 -z-[1] h-[10px] w-[10px] -translate-y-1/2 rotate-45 bg-baseDark content-[''];
}

.product-item .compare-btn:hover,
.product-item .add-wishlist-btn:hover,
.product-item .quick-view-btn:hover,
.product-item .add-cart-btn:hover,
.product-item .quick-view-btn-list:hover {
  @apply cursor-pointer bg-baseDark text-white;
}

.product-item .compare-btn:hover .tag-action,
.product-item .add-wishlist-btn:hover .tag-action,
.product-item .quick-view-btn:hover .tag-action,
.product-item .add-cart-btn:hover .tag-action,
.product-item .quick-view-btn-list:hover .tag-action {
  @apply z-[1] translate-x-0 opacity-100;
}

.product-item.style-2 .list-action-icon,
.product-item.style-5 .list-action-icon {
  @apply !hidden;
}

.product-item.style-2 .tag-action,
.product-item.style-5 .tag-action {
  @apply bottom-[calc(100%+12px)] right-auto -translate-y-[10px];
}

.product-item.style-2 .tag-action::before,
.product-item.style-5 .tag-action::before {
  @apply left-1/2 right-auto top-full -z-[1] -translate-x-1/2 -translate-y-1/2 rotate-45 bg-baseDark;
}

.product-item.style-2 .compare-btn:hover .tag-action,
.product-item.style-2 .add-wishlist-btn:hover .tag-action,
.product-item.style-2 .quick-view-btn:hover .tag-action,
.product-item.style-2 .add-cart-btn:hover .tag-action,
.product-item.style-2 .quick-view-btn-list:hover .tag-action,
.product-item.style-5 .compare-btn:hover .tag-action,
.product-item.style-5 .add-wishlist-btn:hover .tag-action,
.product-item.style-5 .quick-view-btn:hover .tag-action,
.product-item.style-5 .add-cart-btn:hover .tag-action,
.product-item.style-5 .quick-view-btn-list:hover .tag-action {
  @apply translate-y-0;
}

.product-item .compare-btn .checked-icon {
  @apply hidden animate-[scaleAnimate_0.5s_ease];
}

.product-item .compare-btn.active .compare-icon {
  @apply hidden;
}

.product-item .compare-btn.active .checked-icon {
  @apply block;
}

.product-item .compare-btn.active svg {
  @apply text-[#3DAB25];
}

.product-item .product-thumb .banner-sale-auto {
  @apply absolute transition-all duration-300;
}

.product-item .product-thumb .list-action {
  @apply invisible z-[1] translate-y-[100px] opacity-0 transition-all duration-300;
}

.product-item .product-thumb .list-action .quick-shop-block {
  @apply invisible -bottom-full opacity-0 transition-all duration-300;
}

.product-item .product-thumb .list-action .quick-shop-block.open {
  @apply visible bottom-0 opacity-100;
}

.product-item .product-thumb .product-img img:nth-child(2) {
  @apply invisible absolute left-0 top-0 z-0 h-full w-full opacity-0;
}

.product-item.grid-type:hover .product-thumb .list-action {
  @apply visible translate-x-0 opacity-100;
}

.product-item.grid-type:hover .product-thumb .product-img img {
  @apply scale-105;
}

.product-item.grid-type:hover .product-thumb .product-img img:first-child {
  @apply opacity-0;
}

.product-item.grid-type:hover .product-thumb .product-img img:last-child {
  @apply visible opacity-100;
}

.product-item.list-type
  .product-thumb
  .list-action:has(.quick-shop-block.open) {
  @apply visible z-[1] translate-x-0 opacity-100;
}

.product-item.list-type
  .product-thumb
  .list-action
  .quick-shop-block
  .button-main {
  @apply whitespace-nowrap pl-0 pr-0;
}

.product-item.list-type .product-thumb:hover .product-img img {
  @apply scale-105;
}

.product-item.list-type .product-thumb:hover .product-img img:first-child {
  @apply opacity-0;
}

.product-item.list-type .product-thumb:hover .product-img img:last-child {
  @apply visible opacity-100;
}

.product-item .product-main .product-infor {
  @apply relative;
}

.product-item .product-main .product-infor .list-color,
.product-item .product-main .product-infor .list-color-image {
  @apply absolute left-0 top-0 z-0 opacity-0;
}

.product-item.style-2 .list-size-block,
.product-item.style-4 .list-size-block {
  @apply translate-y-10 rounded-b-lg bg-gradient-to-tr from-white/40 to-white/60 backdrop-blur-[4px] transition-all duration-300;
}

@media (min-width: 1024px) {
  .product-item:hover.grid-type .product-main .product-infor .product-name {
    @apply invisible opacity-0;
  }

  .product-item:hover.grid-type .product-main .product-infor .list-color,
  .product-item:hover.grid-type .product-main .product-infor .list-color-image {
    @apply opacity-100;
  }

  .product-item:hover.grid-type
    .product-main
    .product-infor
    .product-price-block {
    @apply translate-y-[14px];
  }
}

.product-item:hover.grid-type .banner-sale-auto {
  @apply opacity-0;
}

.product-item:hover.style-2 .list-size-block,
.product-item:hover.style-4 .list-size-block {
  @apply translate-y-0;
}

@media (min-width: 1024px) {
  .product-item:hover.style-5.grid-type
    .product-main
    .product-infor
    .add-cart-btn,
  .product-item:hover.style-5.grid-type
    .product-main
    .product-infor
    .quick-shop-btn {
    @apply translate-y-[14px];
  }
}

.product-item.style-marketplace {
  @apply cursor-pointer overflow-hidden;
}

.product-item.style-marketplace .add-wishlist-btn,
.product-item.style-marketplace .quick-view-btn,
.product-item.style-marketplace .add-cart-btn,
.product-item.style-marketplace .compare-btn {
  @apply translate-x-[50px];
}

.product-item.style-marketplace .add-wishlist-btn:hover,
.product-item.style-marketplace .quick-view-btn:hover,
.product-item.style-marketplace .add-cart-btn:hover,
.product-item.style-marketplace .compare-btn:hover {
  @apply bg-baseDark text-white;
}

.product-item.style-marketplace:hover .list-action .add-wishlist-btn,
.product-item.style-marketplace:hover .list-action .quick-view-btn,
.product-item.style-marketplace:hover .list-action .add-cart-btn,
.product-item.style-marketplace:hover .list-action .compare-btn {
  @apply translate-x-0;
}

.product-item.style-marketplace:hover .list-action .compare-btn {
  @apply transition-[all_0.3s_ease,transform_0.3s_ease_0.06s];
}

.product-item.style-marketplace:hover .list-action .quick-view-btn {
  @apply transition-[all_0.3s_ease,transform_0.3s_ease_0.12s];
}

.product-item.style-marketplace:hover .list-action .add-cart-btn {
  @apply transition-[all_0.3s_ease,transform_0.3s_ease_0.18s];
}

.add-wishlist-btn.active {
  @apply bg-red_custom;
}

.add-wishlist-btn.active svg {
  @apply text-white;
}

.add-wishlist-btn.active svg path {
  @apply bg-white;
}

.list-color .color-item,
.list-color-image .color-item {
  @apply cursor-pointer border-2 border-transparent transition-all duration-300;
}

.list-color .color-item.border,
.list-color-image .color-item.border {
  @apply border-[1px] border-solid;
}

.list-color .color-item.border-line,
.list-color-image .color-item.border-line {
  @apply border-gray-200;
}

.list-color .color-item.active,
.list-color .color-item:hover,
.list-color-image .color-item.active,
.list-color-image .color-item:hover {
  @apply border-black;
}

.list-color .color-item .tag-action,
.list-color-image .color-item .tag-action {
  @apply absolute left-1/2 right-auto top-[-32px] z-[1] -translate-x-1/2 opacity-0 transition-all duration-500;
}

.list-color .color-item .tag-action::before,
.list-color-image .color-item .tag-action::before {
  @apply absolute -bottom-1 left-1/2 right-auto top-auto -z-[1] h-[14px] w-[14px] -translate-x-1/2 rotate-45 bg-baseDark content-[''];
}

.list-color .color-item:hover .tag-action,
.list-color-image .color-item:hover .tag-action {
  @apply opacity-100;
}

.style-watch .product-thumb {
  @apply bg-white/20;
}

.list-size .size-item {
  @apply cursor-pointer transition-all duration-300;
}

.list-size .size-item:hover {
  @apply border-black;
}

.list-size .size-item.active {
  @apply border-black bg-baseDark text-white;
}

.show-product-sold .product-item .product-main .product-infor .list-color,
.show-product-sold
  .product-item
  .product-main
  .product-infor
  .list-color-image {
  @apply top-[52px];
}

.hide-color .product-item .product-main .product-infor .list-color,
.hide-color .product-item .product-main .product-infor .list-color-image {
  @apply invisible hidden opacity-0;
}

.hide-color .product-item .product-main .product-infor .product-name {
  @apply visible opacity-100;
}

.hide-color .product-item .product-main .product-infor .product-price-block {
  @apply transform-none;
}

.hide-product-sold .product-item .product-sold {
  @apply hidden;
}

@media (min-width: 1024px) {
  .lookbook-block.cos1 .list-product .product-item:last-child {
    @apply hidden;
  }
}

.tab-features-block.style-watch .product-name,
.tab-features-block.style-watch .product-price {
  @apply text-white;
}

.tab-features-block.style-watch
  .section-swiper-navigation
  .swiper-button-prev:hover,
.tab-features-block.style-watch
  .section-swiper-navigation
  .swiper-button-next:hover {
  @apply bg-green_custom text-black;
}

.bg-black.style-watch .color-item.bg-black {
  @apply border-gray-200;
}

.bg-black.style-watch .color-item:hover {
  @apply border-gray-200;
}

.bg-black.style-watch .list-size .size-item:hover {
  @apply border-gray-200;
}

.bg-black.style-watch .tag-action.bg-black {
  @apply bg-white text-black;
}

.bg-black.style-watch .tag-action.bg-black::before {
  @apply bg-white;
}

/* Product Detail */
.product-detail .popup-img {
  @apply invisible fixed left-0 top-0 z-[1000] h-screen w-screen bg-black/70 opacity-0 transition-all duration-300;
}

.product-detail .popup-img img {
  @apply mx-auto h-screen w-auto;
}

.product-detail .popup-img.open {
  @apply visible opacity-100;
}

.product-detail .popup-img .swiper {
  @apply h-full;
}

.product-detail .popup-img .swiper-button-next::after,
.product-detail .popup-img .swiper-button-prev::after {
  @apply text-2xl font-bold text-white;
}

@media (max-width: 767.98px) {
  .product-detail .popup-img .swiper-slide {
    @apply flex items-center justify-center;
  }

  .product-detail .popup-img .swiper-button-prev {
    @apply left-[6px];
  }

  .product-detail .popup-img .swiper-button-next {
    @apply right-[6px];
  }

  .product-detail .popup-img img {
    @apply h-auto w-[80vw];
  }
}

.product-detail .quantity-block .disabled {
  @apply cursor-default text-gray-400;
}

.product-detail .desc-tab .desc-block .tab-item svg {
  @apply transition-all duration-300;
}

.product-detail .desc-tab .desc-block .tab-item.active svg {
  @apply rotate-180;
}

.product-detail .desc-tab .desc-block .desc-item {
  @apply invisible absolute h-0 scale-y-0 opacity-0 transition-opacity duration-300;
}

.product-detail .desc-tab .desc-block .desc-item.open {
  @apply visible static h-auto scale-y-100 opacity-100;
}

.product-detail .top-overview .rating.black-start .rate svg path {
  @apply fill-black;
}

@media (min-width: 768px) {
  .product-detail.sale .product-infor {
    @apply sticky top-[10px] h-fit;
  }
}

.product-detail.sale .featured-product .mySwiper .swiper-wrapper {
  @apply relative left-auto top-auto mt-5 flex-row gap-4;
}

@media (min-width: 768px) {
  .product-detail.grouped .list-img {
    @apply !sticky top-[10px] h-fit;
  }
}

@media (min-width: 640px) {
  .product-detail.grouped .list-img .mySwiper2 {
    @apply ml-[130px];
  }
}

@media (min-width: 640px) and (max-width: 1023.98px) {
  .product-detail.grouped .list-img .mySwiper2 {
    @apply ml-[74px];
  }
}

@media (min-width: 640px) {
  .product-detail.grouped .list-img .mySwiper .swiper-wrapper {
    @apply left-0 top-0;
  }
}

@media (max-width: 640px) {
  .product-detail.grouped .product-infor {
    @apply pt-0;
  }
}

.product-detail.out-of-stock .product-infor.style-out-of-stock .color-item,
.product-detail.out-of-stock .product-infor.style-out-of-stock .size-item {
  @apply cursor-default overflow-hidden border-none grayscale-[0.9];
}

.product-detail.out-of-stock
  .product-infor.style-out-of-stock
  .color-item::before,
.product-detail.out-of-stock
  .product-infor.style-out-of-stock
  .color-item::after,
.product-detail.out-of-stock
  .product-infor.style-out-of-stock
  .size-item::before,
.product-detail.out-of-stock
  .product-infor.style-out-of-stock
  .size-item::after {
  @apply absolute top-0 h-[150%] w-[150%] content-[''];
}

.product-detail.out-of-stock
  .product-infor.style-out-of-stock
  .color-item::before,
.product-detail.out-of-stock
  .product-infor.style-out-of-stock
  .size-item::before {
  @apply left-0 -translate-x-[70%] rotate-45 border-r-2 border-dashed border-gray-200;
}

.product-detail.out-of-stock
  .product-infor.style-out-of-stock
  .color-item::after,
.product-detail.out-of-stock
  .product-infor.style-out-of-stock
  .size-item::after {
  @apply right-0 translate-x-[70%] -rotate-45 border-l-2 border-dashed border-gray-200;
}

.product-detail.out-of-stock .product-infor.style-out-of-stock .button-main {
  @apply cursor-default !bg-gray-100 !text-gray-400;
}

.product-detail.sidebar .featured-product.underwear .mySwiper .swiper-wrapper {
  @apply grid grid-cols-4 gap-4;
}

.product-detail.sidebar
  .featured-product.underwear
  .mySwiper
  .swiper-wrapper
  .swiper-slide {
  @apply !w-full;
}

html:has(.product-detail.grouped),
body:has(.product-detail.grouped),
html:has(.product-detail.sale),
body:has(.product-detail.sale) {
  @apply overflow-x-auto;
}

html:has(.header-menu.fixed) .product-detail.grouped .list-img,
body:has(.header-menu.fixed) .product-detail.grouped .list-img {
  @apply top-[90px];
}

html:has(.header-menu.fixed) .product-detail.sale .product-infor,
body:has(.header-menu.fixed) .product-detail.sale .product-infor {
  @apply top-[90px];
}

.style-discount .breadcrumb-product .main {
  @apply bg-gradient-to-r bg-none from-[#F9F1F0] to-[#FAF7F1];
}

@keyframes scaleAnimate {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
